.container{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    height:500px;
    font-style: italic;
  }
.counter-box{
    background-color:yellowgreen;
    padding:50px;
  }
.button-container{
  display:flex;
  gap:20px;
  
}
  