.hi{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    height:500px;
    font-style: oblique;
  }
.div1{
    background-color:yellowgreen;
    padding:100px;
  }
.h1{
    display:flex;
    gap:20px;
    
  }
    